{%  extends 'base.html' %}
{%  load static  %}
{%  block content %}
<!-- Slider Start -->
<section class="slider" id="slider">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-8 col-12">
				<div class="banner-content text-center">
					 <h1 class="cd-headline clip is-full-width mb-4 ">
					 	Hey 👋.  <br>
						 <span class="cd-words-wrapper text-color">
							<b class="is-visible">😎 ..Welcome</b>
							<b>💪..its</b> 
							<b>😐..Samuel Kiando</b> 
							<b>👨‍💻..like cOdE</b>
							<b>🧳..Trevelling</b> 
							<b>..Explore Me</b>
						</span>
	                </h1>
					<ul class="list-inline socials-icon mb-4">
						<li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-medium"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-kaggle"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
					</ul>
					
					<a href="#about" class="btn btn-main btn-rounded smoth-scroll">Learn More <i class="fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="intro section">
	<div class="container">
		{%  for abt in about %}
		<div class="row">
			<div class="col-lg-6 pr-lg-5">
				<div class="intro-img">
					<img src="{{abt.image.url}}" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="intro-content mt-5 mt-lg-0">
					<h2 class="text-lg mb-4">{{abt.aboutme}}</h2>

					<p class="mb-4">{{abt.description}}</p>
					<h3 style="text-align: center;">Best Skilled On</h3>
					<ul class="list-unstyled ">
						<h3>Best Skilled On</h3>
						<li><h5><i class="fab fa-python mr-3"></i>Python</h5></li>
						<li><h5><i class="fas fa-laptop-code mr-3"></i>Fullstack web dev </h5></li>
						<li><h5><i class="fas fa-database mr-3"></i>Database Admin</h5></li>
						<li><h5><i class="fas fa-robot mr-3"></i>Machine Learning</h5></li>
						<li><h5><i class="fas fa-chart-line mr-3"></i>Data Science</h5></li>
						<li><h5><i class="fas fa-paint-brush mr-3"></i>Graphics Design</h5></li>
						<li><h5><i class="fab fa-js mr-3"></i>JavaScript</h5></li>
					</ul>

					<a href="#services" class="btn btn-main mt-4 btn-rounded smoth-scroll">Services<i class="fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<section class="section secondary-bg" id="services">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="section-title text-center">
					<h2 class="mb-4 text-lg"> What I do: </h2>
					
				</div>
			</div>
		</div>
		<div class="row no-gutters">
			{% for ser in services %}
			<div class="col-lg-4 col-md-6">
				<div class="service-item">
					<div class="d-flex align-items-center mb-4">
						<h4>{{ser.title}}</h4>
					</div>
					<p>{{ser.desription}}</p>

				</div>
			</div>
			{% endfor %}
		
		</div>
	</div>
</section>
<!-- portfolio -->
<section class="section portfolio" id="portfolio">
  <div class="container">
  	 <div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="section-title text-center">
				<h2 class="mb-4 text-lg">Work Portfolio</h2>
				<p>Vist My Recent Portfolio and keep your feedback</p>
			</div>
		</div>
	</div>



    <div class="row shuffle-wrapper portfolio-gallery">
      	

		{% for port in portfolios %}
      	<div class="col-lg-4 col-md-6 col-12  mb-4 shuffle-item" data-groups="[&quot;design&quot;]">
			
       		<div class="portfolio-item mb-4">
				<img src="{{port.image_thumbnail.url}}" alt="" class="img-fluid">
				<div class="overlay-content">
					<h5>{{port.name}}</h5>
					<a href="{{port.image_thumbnail.com}}" class="portfolio-image popup-gallery"><i class="ti-zoom-in"></i></a>	
					<a href="portfolio-single.html"><i class="ti-link"></i></a>	
				</div>
			</div>
		
      </div>
	  {% endfor %}

    </div>

    <div class="row justify-content-center">
    	<div class="col-lg-8">
    		<div class="text-center mt-5">
    			<a href="#testimonial" class="btn btn-main btn-rounded smoth-scroll">Read Success Story</a>
    		</div>
    	</div>
    </div>
  </div>
</section>
<section class="section experience" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title">
                    <h2>Education BackGround</h2>
                </div>
            </div>  
        </div>

        <div class="row">
            {% for edu in education %}
            <div class="col-lg-6">
                <div class="content mb-4">
                    <h4>{{ edu.name }}</h4>
                    <span class="text-color">{{ edu.timeframe }}</span>
                    <p>{{ edu.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="cta">
	<div class="container">
		<div class="cta-wrap box-shadow">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-8">
					<div class="cta-content">
						<span class="text-color">All in one Solution</span>
						<h2 class="text-lg">Have any Project on mind?</h2>
					</div>
				</div>
				<div class="col-lg-3 ">
					<div class="text-lg-right mt-5 mt-lg-0">
						<a href="#contact" class="btn btn-main btn-rounded smoth-scroll">Contact me<i class="fa fa-angle-right ml-2"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section" id="testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="title">
					<h2 class="mb-5 text-lg">Clients says</h2>
					<p class="mb-5 ">What Clients Says About Me Please Have a Look and saying</p>
					<a href="#contact" class="btn btn-main btn-rounded smoth-scroll">Get start<i class="fa fa-angle-right ml-2"></i></a>
				</div>
			</div>

		
			<div class="col-lg-7">
				<div class="main-slider ">
					{% for client in clients %}
					<div class="testimonial-item d-flex align-items-center">
						<div class="testimonial-content ">
							<i class="ti-quote-left "></i>
							<h4 class="mb-3 text-color mt-2">{{ client.title }}</h4>
							<p>{{ client.description }}</p>
							<div class="info">
								<h5 class="mb-1">{{ client.name }}</h5>
								<p class="text-sm">{{ client.subtitle }}</p>
							</div>
						</div>
						<div class="testimonial-image">
							<img src="{{ client.avatar_image.url }}" alt="" class="img-fluid" style="height: 100px; width: 100px;">
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>
</section>
<section class="section" id="contact">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="section-title text-center">
					<h2 class="mb-4 text-lg">Let's Get started</h2>
					<p>Get to Contact Me and we Talk How to go about it</p>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-8">
				<form class="contact__form form-row contact-form" method="post" action="{%  url 'core:index' %}" id="contactForm">
					{% csrf_token %}

					 <div class="row">
                        <div class="col-12">
                            <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                Your message was sent successfully.
                            </div>
                        </div>
                    </div>

					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label>Your Name</label>
								<input type="text" id="name" name="name" class="form-control" placeholder="Enter Your Name">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label>Your Email</label>	
								<input type="text" name="email" id="email" class="form-control" placeholder="Enter Your Email Address">
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<label>Your Subject</label>	
								<input type="text" name="subject" id="subject"  class="form-control" placeholder="Enter Your Subject">
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<label>Your Message</label>	
								<textarea id="message" name="message" cols="30" rows="8" class="form-control" placeholder="Your Message"></textarea>	
							</div>
						</div>
					</div>

					<div class="col-lg-12">
						<div class="d-lg-flex justify-content-between mt-4">
							<p>* Promise i will not send adds.</p>
							<input id="submit" name="submit" type="submit" class="btn btn-main btn-rounded" value="Send Message">
						</div>
					</div>
				</form>	
			</div>
		</div>
	</div>
</section>



{%  endblock content %}